name: CD Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/html
            if [ -d ".git" ]; then
              # Repo exists → update it
              git fetch --all
              git reset --hard origin/main
            else
              # Repo doesn't exist → empty folder and clone
              rm -rf *
              git clone https://github.com/radhikabhade2004-lgtm/free.git .
            fi
